{% extends "blog/base.html" %}
{% block content %}
    <h1>Add new movie</h1>
    <hr/>
    <div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="txtMovieId" class="form-label">Movie Id</label>
                <input type="text" class="form-control" id="txtMovieId" maxlength="6" aria-describedby="movieIdHelp" name="movie_id">
                <div id="movieIdHelp" class="form-text"></div>
            </div>
            <div class="mb-3">
                <label for="txtTitle" class="form-label">Title</label>
                <input type="text" class="form-control" id="txtTitle" name="title">
            </div>
            <div class="mb-3">
                <label for="ddlClassification" class="form-label">Rating</label>
                <select id="ddlClassification" name="classification" class="form-select" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    {% for rating in ratings%}
                        <option value="{{rating.rating_cd}}">{{rating.rating_desc}}</option>
                    {% endfor %}
                  </select>
            </div>
            <div class="row mb-3 g-3">
                <div class="col-9">
                    <label for="txtBoxOffice" class="form-label">Box Office</label>
                    <input type="number" class="form-control" id="txtBoxOffice" name="box_office">
                </div>
                <div class="col-3">
                    <label for="ddlBoxOfficeUom" class="form-label">Rating</label>
                    <select id="ddlBoxOfficeUom" name="box_office_uom" class="form-select" aria-label="Default select example">
                        <option value="m" selected>m</option>
                        <option value="b">b</option>
                        <option value="k">k</option>
                  </select>
                </div>
            </div>
            <div class="mb-3">
                <label for="txtRunTime" class="form-label">Duration (mins)</label>
                <input type="number" class="form-control" id="txtRunTime" name="running_time">
            </div>
            <div class="mb-3">
                <label for="txtReleaseDate" class="form-label">Release Date</label>
                <input type="date" class="form-control" id="txtReleaseDate" name="release_date">
            </div>
            <div class="input-group mb-3">
                <input type="file" name="image_file" class="file" accept="image/*">
                <input type="text" class="form-control" disabled placeholder="Upload File" id="file">
                <div class="input-group-append">
                    <button type="button" class="browse btn btn-primary">Browse...</button>
                </div>
            </div>
            <div class="ml-2 col-sm-6">
                <img src="https://placehold.it/80x80" id="preview" class="img-thumbnail"/>
            </div>
            <div class="mb-3">
                <label for="txtSynopsis" class="form-label">Synopsis</label>
                <textarea class="form-control" id="txtSynopsis" rows="3" name="synopsis"></textarea>
            </div>
            <div class="input-group mb-3">
                <input type="file" name="srt_file" class="file" accept=".srt">
                <input type="text" class="form-control" disabled placeholder="Upload File" id="srtfile">
                <div class="input-group-append">
                    <button type="button" class="browse btn btn-primary">Browse...</button>
                </div>
            </div>
            <input type="submit" class="btn btn-success" value="Create" title="Create movie"/>
        </form>
    </div>
    <script type="text/javascript">
        $(".browse").on("click", function() {
            var file = $(this).parent().parent().find(".file");
            file.trigger("click");
        });
        $('input[type="file"]').change(function(e) {
            var fileName = e.target.files[0].name;
            $(this).next().val(fileName);
            if ($(this).prop("name") == "image_file"){
                var reader = new FileReader();
                reader.onload = function(e) {
                    // get loaded data and render thumbnail.
                    document.getElementById("preview").src = e.target.result;
                };
                // read the image file as a data URL.
                reader.readAsDataURL(this.files[0]);
            }
        });
    </script>
{% endblock content%}